body{
background: #FAEBD7 url("https://en.idei.club/uploads/posts/2023-06/1687637623_en-idei-club-p-science-pattern-dizain-49.jpg") no-repeat;
weight: 100vh;
background-size: cover;
background-attachment: fixed;
cursor: pointer;
}

.url , .header_logo , .menu {
 display: inline;
 font-family:Impact, fantasy;
 color:black;

font-weight: 400;

 }
.header_logo {
font-size:48px;
font-weight: 400;
color: #F2C9C9;
font-family: impact;
}
.header_logo:hover{

}

.url{
text-decoration:none ;
font-size:32px;
style="transform: translate(60px,120px);
}

.photo {
float: left;
position: static;
top: 0;
left: 0;
bottom: 0;
style: margin-bottom: 1000px;
/* не работает */

}

.s {
font-family: New Century Schoolbook, TeX Gyre Schola, serif;
text-align: right;
}

.head {background:#1127f2;}
p {font-size: 32px;
color:black;
background:white;
}

.url:hover{
color:blue;
background: gray;
}

.menu{
float: right;
font-size:76px;
background: white;

.menu:hover{
background: gray;
/* не работает */
}

#2 {width: 200px; height: 150px;
/* не работает */
float: left;
}


}


* {
margin:0;
padding:0;
font-family: serif;
}
.albom {
position:center;
height: 270px;
width:480px;
/* не работает */

}

.block{
display: inline;
}